{
    "env": {
        "browser": true
    },
    "extends": "airbnb",
    "rules": {
        "import/first": 0,
        "max-len": [
            "error",
            120
        ],
        "no-underscore-dangle": 0,
        "space-before-function-paren": [
            "error",
            "always"
        ]
    },
    "plugins": [
        "html"
    ],
    "settings": {
        "html/html-extensions": [
            ".vue"
        ]
    }
}
